.container-organizers {
  h1 {
    text-align: center;
    font-size: 1.9rem;
    margin: 5rem 0;
  }
}

.nullText {
  text-align: center;
}

.input-selector {
  width: 50%;
  margin: 0 auto;
}

.buttons {
  text-align: center;

  button {
    font-size: 0.7rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: $body-font;
    color: #fff;
    border: none;
    background-color: $orange;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: $hover-orange;
    }
  }
}
