.addVenueName {
  text-align: center;
  font-size: 3rem;
  margin: 5rem 0;
}

.addVenueForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    border: none;
    font-size: 1.125rem;
    color: $black;
    padding: 15px;
    border-bottom: 1px solid $light-grey;
    margin: 0 auto;
    text-align: center;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $light-grey;
      font-family: $body-font;
    }
  }

  [type="date"] {
    color: $light-grey;
    font-family: $body-font;

    position: relative;

    ::-webkit-input-placeholder {
      color: $light-grey;
    }
    ::-moz-placeholder {
      color: $light-grey;
    } /* firefox 19+ */
    :-ms-input-placeholder {
      color: $grey;
    } /* ie */
    input:-moz-placeholder {
      color: $grey;
    }

    ::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: auto;
      height: auto;
      color: transparent;
      background: transparent;
    }

    ::-webkit-inner-spin-button {
      z-index: 1;
    }

    ::-webkit-clear-button {
      z-index: 1;
    }
  }

  .buttons {
    margin-top: 1rem;

    button {
      width: 10rem;
      padding: 7px 15px;
      text-align: center;
      border-radius: 10px;
      font-family: $body-font;
      font-size: 1.2rem;
      color: #fff;
      background-color: $orange;
      text-transform: uppercase;
      border: none;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: $hover-orange;
      }
    }
  }

  .submit {
    margin-right: 0.5rem;

    &:hover {
      background-color: $hover-orange;
    }
  }
}
