.adminLabel {
  font-family: $body-heading-font;
  font-size: 1.3rem;
  text-align: center;
  margin: 5rem 0;
}

.userContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .userName {
    color: $dark-grey;
    font-size: 1rem;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 31px;
    height: 20px;
    outline: none;
  }
  .switch input {
    position: absolute;
    top: -99999px;
    left: -99999px;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 17px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  input:checked + .slider {
    background-color: $orange;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px $orange;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
}
