.eventButton {
  font-size: 0.7rem;
  margin-left: 3rem;
  margin-top: 1.5rem;
  text-transform: uppercase;
  color: $white;
  background-color: $orange;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;

  &:hover {
    background-color: $hover-orange;
  }
}

.wrapper {
  margin-top: 2.5rem;
}

.title {
  font-size: 1.2rem;
  color: $dark-grey;
  font-family: $body-heading-font;
  margin-left: 6rem;
}

@media screen and (max-width: 700px) {
  .title {
    margin-left: 2rem;
  }
}

.eventItem {
  font-size: 0.9rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 65%;
  padding: 0.7rem 0;

  a {
    text-decoration: none;
  }

  .eventTitle {
    font-size: 1rem;
    font-family: $body-heading-font;
    color: $dark-grey;
    font-weight: 100;

    &:hover {
      color: $grey;
    }
  }

  .eventStartDateTime {
    text-align: center;
    font-size: 0.9rem;
  }

  .edit-del-links {
    text-align: right;
    color: $grey;

    a {
      text-decoration: none;
      color: $orange;

      &:hover {
        color: $hover-orange;
      }
    }
  }
}
