.userButton {
  font-size: 1rem;
  margin-left: 5rem;
  margin-top: 2rem;
  text-transform: uppercase;
  color: $white;
  background-color: $orange;
  border: none;
  padding: 7px 17px;
  border-radius: 10px;

  &:hover {
    background-color: $hover-orange;
  }
}

.wrapper {
  margin-top: 2.5rem;
}

.userItem {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 65%;
  padding: 0.7rem 0;
  font-size: 0.9rem;

  .userTitle {
    font-family: $body-font;
    font-size: 1rem;
    color: $dark-grey;
    font-weight: 100;
  }

  .isAdmin {
    text-align: center;
    font-size: 0.9rem;
    color: $grey;

    .adminStyle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.9rem;

      .adminIcon {
        margin-right: 0.5rem;
        color: $orange;
      }
    }
  }

  .edit-del-links {
    text-align: right;
    color: $grey;

    a {
      text-decoration: none;
      color: $orange;

      &:hover {
        color: $hover-orange;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .userItem {
    width: 90%;
    font-size: 0.7rem;

    .userTitle {
      font-size: 0.8rem;
    }
    .isAdmin .adminStyle {
      font-size: 0.8rem;
    }
  }
}
