.eventWrapper {
  width: 70%;
  margin: 2rem auto;

  .eventHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  h2 {
    font-size: 2.2rem;
    font-family: $body-heading-font;
  }

  .edit-del-links {
    color: $light-grey;
    margin: 0;
    display: flex;
    align-items: center;

    .edit {
      margin-right: 1rem;
      font-size: 1.1rem;
    }

    .delete {
      font-size: 1.1rem;
    }

    a {
      text-decoration: none;
      color: $orange;

      &:hover {
        color: $hover-orange
      }
    }
  }

  .venueContainer {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    

    .venue {
      font-size: 1.3rem;
      margin-right: 5rem;
    }

    .venueWebsite {
      font-size: 1.1rem;
      color: $grey
    }

    a {
      text-decoration: none;
      color: $orange;

      &:hover {
        color: $hover-orange;
      }
    }

  }

  .eventDetailsWrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    .containerHeading{
      display: flex;
      align-items: flex-start;
    }

    h3 {
      font-size: 1.2rem;
      color: $dark-grey;
      font-family: $body-heading-font;
      margin-right: 3rem;
    }

    li {
      list-style-type: none;
      padding: 0.5rem 0;
    }

    .eoItem {
      display: flex;
      align-items: center;

      .delete {
        margin-left: 1rem;
        color: $grey
      }
    }

    .eventVendorItem {
      display: flex;
      align-items: center;

      .delete {
        margin-left: 1rem;
        color: $grey
      }
    }

    p {
      font-size: 1.1rem;
    }

    button {
      font-size: 1rem;
      margin-top: 1rem;
      text-transform: uppercase;
      color: $white;
      background-color: $orange;
      border: none;
      padding: 7px 17px;
      border-radius: 10px;
      cursor: pointer;
      
    }
  }

  .eventVendorWrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1rem auto;

    .containerHeading{
      display: flex;
      align-items: flex-start;
    }

    h3 {
      font-size: 1.2rem;
      color: $dark-grey;
      font-family: $body-heading-font;
      margin-right: 3rem;
    }

    li {
      list-style-type: none;
      padding: 0.5rem 0;
    }

    .product {
      display: flex;
      // remove if mapping ul
      margin-left: 2rem;

      .productName {
        font-size: 1.1rem;
      }

      .price {
        margin-left: 1.3rem;
        font-size: 1rem;
        color: $grey;
        justify-self: end;
      }
    }

    button {
      font-size: 1rem;
      margin-top: 1rem;
      text-transform: uppercase;
      color: $white;
      background-color: $orange;
      border: none;
      padding: 7px 17px;
      border-radius: 10px;
      cursor: pointer;
      
    }
  }

  
}
