.eventWrapper {
  width: 70%;
  margin: 2rem auto;

  .eventHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
      font-size: 0.9rem;
    }

    .eventTime {
      display: flex;
      align-items: center;

      .clock {
        color: $grey;
        margin-right: .5rem;
      }
    }
  }

  h2 {
    font-size: 1.9rem;
    font-family: $body-heading-font;
  }

  .edit-del-links {
    color: $light-grey;
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;

    .edit {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 0.9rem;
    }

    .delete {
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      color: $orange;

      &:hover {
        color: $hover-orange;
      }
    }
  }

  .venueContainer {
    margin-left: 1rem;
    display: flex;
    align-items: center;

    .venueLocation {
      display: flex;
      align-items: center;

    .venue {
      font-size: 0.9rem;
      margin-right: 5rem;
    }

    .location {
      color: $grey;
      margin-right: .5rem;
    }
  }

    a {
      text-decoration: none;
      color: $grey;
      font-size: 0.9rem;

      &:hover {
        color: $light-grey;
        cursor: pointer;
      }
    }
  }

  .eventDetailsWrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }

    .containerHeading {
      display: flex;
      align-items: flex-start;
    }

    h3 {
      font-size: 1rem;
      color: $dark-grey;
      font-family: $body-heading-font;
      margin-right: 3rem;
    }

    li {
      list-style-type: none;
      padding: 0.5rem 0;
    }

    .eoItem {
      display: flex;
      align-items: center;

      .delete {
        margin-left: 1rem;
        color: $error;
      }
    }

    .eventVendorsContainer {
      margin-top: 3rem;
    }

    .eventVendorItem {
      display: flex;
      align-items: center;

      .delete {
        margin-left: 1rem;
        color: $error;
      }

      .addUser {
        margin-left: 2rem;
        color: $grey;
      }
    }

    p {
      font-size: 0.9rem;
    }

    button {
      font-size: 0.7rem;
      margin-top: 1rem;
      text-transform: uppercase;
      color: $white;
      background-color: $orange;
      border: none;
      padding: 7px 17px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  .eventVendorWrapper {
    width: 80%;
    margin: 1rem auto;

    .containerHeading {
      display: flex;
      align-items: flex-start;
    }

    h3 {
      font-size: 1rem;
      color: $dark-grey;
      font-family: $body-heading-font;
      margin-right: 3rem;
    }

    .products-container {
      display: flex;
      justify-content: space-between;

      .productListContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 1.1rem;
      }

      .qrGenerator {
      }
    }

    button {
      font-size: 0.7rem;
      margin-top: 1rem;
      text-transform: uppercase;
      color: $white;
      background-color: $orange;
      border: none;
      padding: 7px 17px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

