.venueWrapper {
  width: 70%;
  margin: 2rem auto;

  .venueHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  h2 {
    font-size: 2.2rem;
    font-family: $body-heading-font;
  }

  .edit-del-links {
    color: $light-grey;
    margin: 0;
    display: flex;
    align-items: center;

    .edit {
      margin-right: 1rem;
      font-size: 1.1rem;
    }

    .delete {
      font-size: 1.1rem;
    }

    a {
      text-decoration: none;
      color: $orange;

      &:hover {
        color: $hover-orange;
      }
    }
  }

  .venueWebsite {
    margin: 1rem 3rem;
    font-size: 1.1rem;
    .website {
      color: $orange;
      margin-right: 0.8rem;

      &:hover {
        color: $hover-orange;
      }
    }

    a {
      text-decoration: none;
      color: $grey;
      font-family: $body-font;

      &:hover {
        color: $light-grey;
      }
    }
  }
}
