@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap');

$black: #000;
$white: #fff;
$light-grey: #b8b8b8;
$grey: #9e9e9e;
$dark-grey: #383838;
$orange: #ffa643;
$error: #ff0038;

$gradient: -webkit-linear-gradient(90deg, rgb(28, 34, 51), rgb(54, 56, 68), rgb(12, 12, 12));

$heading-font: 'Bebas Neue', sans-serif;
$body-heading-font: 'Roboto Condensed', sans-serif;
$body-font: 'Roboto', sans-serif;
